:root {
  --primary-color: #6c63ff;
  --secondary-color: #f5f2fe;
  --box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
}

body {
  margin: 60px auto;
  max-width: 9000px;
}

h1,
h2,
h3 {
  text-align: center;
  margin: 0;
}

h1 {
  font-size: 96px;
}

h2 {
  font-size: 48px;
}

h3 {
  font-size: 24px;
  opacity: 0.7;
}

p {
  //**background: var(--secondary-color);**//
  padding: 20px;
  border-radius: 4px;
  font-size: 18px;
  line-height: 1.5;
  text-align: center;
}

.title-heading {
  margin: 100px 100px 50px 100px;
}

.app-summary {
  text-align: left;
  padding-bottom: 20px;
  margin-top: 30px;
}

.navigation-links {
  display: flex;
  margin-top: 40px;
  justify-content: center;
  margin-bottom: 40px;
}

.navigation-links a {
  margin: 20px;
  border-radius: 4px;
  padding: 20px 15px;
  text-decoration: none;
  text-transform: capitalize;
}

.contact-link,
.app-links {
  background: var(--primary-color);
  box-shadow: var(--box-shadow);
  color: white;
}

.app-navigation-links {
  margin-top: 50px;
}

.about-link {
  color: var(--primary-color);
  border: 1px solid var(--primary-color);
}

.about-me-title {
  margin-top: 100px;
}

.about-paragraphs {
  display: flex;
  margin: 30px 0;
  font-size: 18px;
  text-align: center;
}

.contact-section {
  margin: 50px 50px 50px 50px;
}
.email-link {
  display: flex;
  justify-content: center;
  color: var(--primary-color);
  font-size: 28px;
  text-decoration: none;
}

.email-link:hover {
  text-decoration: underline;
}

@media (max-width: 450px) {
  .title-heading {
    margin: 90px 0 50px 0;
  }
}

@media (max-width: 552px) {
  .title-heading h1,
  .about-me-title {
    font-size: 80px;
  }

  .title-heading h2 {
    font-size: 40px;
    text-align: left;
  }

  .title-heading h3,
  .about-me-title h3 {
    font-size: 20px;
  }

  .navigation-links {
    margin-top: -50px;
  }

  .app-links {
    display: block;
    text-align: center;
  }
  .app-summary {
    text-align: center;
  }
  p {
    text-align: center;
  }

  .about-paragraphs {
    display: none;
  }
}

@media (max-width: 991px) {
  .app-picture {
    padding-top: 40px;
  }
}
